<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pxa-intelliplan-jobs" >
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.title" />
		</td>
		<td>
		{job.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.city" />
		</td>
		<td>
		{job.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.region" />
		</td>
		<td>
		{job.region}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.company" />
		</td>
		<td>
		{job.company}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.extent" />
		</td>
		<td>
		{job.extent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.start" />
		</td>
		<td>
		{job.start}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.apply_start" />
		</td>
		<td>
		{job.applyStart -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pxaintelliplanjobs_domain_model_job.body" />
		</td>
		<td>
		{job.body}
		</td>
	</tr>
</table>
</html>