<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaIntelliplanJobs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:debug>{_all}</f:debug>

<f:section name="main">

    <f:flashMessages />

    <div class="background-wrapper">
        <div class="white-overlay">
            <div class="container">
                <div class="text-center red-preheader">
                    <h2><f:translate key="fe.professional_area" /></h2>
                </div>
            </div>

            <div class="category-filter js__category-filter">
                <div class="container">
                    <f:if condition="{subCategories -> f:count()} > 0">
                        <f:then>
                            <ul class="category-filter__list" id="js__category-filter">
                                <f:for each="{subCategories}" as="category">
                                    <li class="category-filter__list-item" data-value="cat{category.uid}" data-filter-set="1">{category.title}</li>
                                </f:for>
                            </ul>
                        </f:then>
                        <f:else>
                            <p class="bg-danger"><f:translate key="fe.no_categories_found" /></p>
                        </f:else>
                    </f:if>
                </div>
            </div>
            <div class="container">
                <div class="text-center red-preheader">
                    <h2><f:translate key="fe.place" /></h2>
                </div>
            </div>
            <f:if condition="{cities -> f:count()} > 0">
                <div class="category-filter _sub-filter js__category-filter">
                    <div class="container">
                        <ul class="category-filter__list" id="js__city-filter">
                            <f:for each="{cities}" as="city" key="cityKey">
                                <li class="category-filter__list-item" data-value="city{cityKey}" data-filter-set="2">{city}</li>
                            </f:for>
                        </ul>
                    </div>
                </div>
            </f:if>
        </div>
    </div>

    <f:if condition="{jobs -> f:count()}">
        <f:then>
            <div class="filter-container">
                <div class="container" id="js__filter-container">
                    <f:for each="{jobs}" as="job">
                        <f:link.action pageUid="{settings.singleViewPid}" arguments="{job: job}" additionalAttributes="{data-categories: job.filteringIdentifiers}" class="filtering-item">
                            <div class="filtering-item__logo">
                                <f:if condition="{job.companyLogoUrl}">
                                    <img class="filtering-item__logo-image" src="{job.companyLogoUrl}" alt="{job.company}" title="{job.company}">
                                </f:if>
                            </div>
                            <div class="filtering-item__body">
                                <f:if condition="{job.company}">
                                    <p class="filtering-item__subheader">{job.company}</p>
                                </f:if>
                                <f:if condition="{job.title}">
                                    <p class="filtering-item__header">{job.title}</p>
                                </f:if>
                                <ul class="filtering-item__tags-list">
                                    <f:if condition="{job.municipality}">
                                        <li class="tags-list__item">
                                            <i class="icons icon-map-marker"></i>
                                            {job.municipality}
                                        </li>
                                    </f:if>
                                    <f:if condition="{job.categoryTypo3}">
                                        <li class="tags-list__item">
                                            <i class="icons icon-tag2"></i>
                                            {job.categoryTypo3.title}
                                        </li>
                                    </f:if>
                                    <f:if condition="{job.pubDateTo}">
                                        <li class="tags-list__item">
                                            <i class="icons icon-pencil"></i>
                                            <f:translate key="fe.apply_before" /> <f:format.date date="{job.pubDateTo}" format="{settings.dateFormat}"/>
                                        </li>
                                    </f:if>
                                </ul>
                                <f:if condition="{pxa:isJobAdNew(job: job, newForDays: settings.newForDays)}">
                                    <p class="filtering-item__marker"><f:translate key="fe.new" /></p>
                                </f:if>
                            </div>
                            <div class="filtering-item__action">
                                <span class="filtering-item__action-arrow"><span>
                            </div>
                        </f:link.action>
                    </f:for>
                </div>
            </div>
        </f:then>
        <f:else>
            <p class="bg-warning"><f:translate key="fe.no_jobs" /></p>
        </f:else>
    </f:if>
</f:section>
</html>