<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <f:if condition="{job.contentElementsUids}">
                    <f:cObject typoscriptObjectPath="lib.pxaIntelliplanJobsContentElementsRenderer" data="{uids: job.contentElementsUids}" />
                </f:if>

                <f:if condition="{settings.showShareForm}">
                    <f:form controller="JobAjax" action="share" pluginName="Pi2" pageType="{settings.sharePageType}" objectName="shareJob">
                        <f:form.textfield property="receiverName"/>
                        <f:form.textfield property="receiverEmail"/>
                        <f:form.textfield property="senderName"/>

                        <f:form.submit>Send</f:form.submit>
                    </f:form>
                </f:if>
            </div>
            <div class="col-md-9">
                <f:format.html>{job.body}</f:format.html>
            </div>
        </div>
    </div>

    <div class="page-navigation visible-md visible-lg">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.pxaIntelliplanJobsBreadCrumbs" />
        </div>
    </div>

    <div class="page-navigation visible-md visible-lg">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.pxaIntelliplanJobsBreadCrumbs" />
        </div>
    </div>
</f:section>
</html>