<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:pxa="http://typo3.org/ns/Pixelant/PxaIntelliplanJobs/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="main">

    <f:flashMessages />
    <div class="page-header container">
        <div class="page-header__logo">
            <f:if condition="{job.companyLogoUrl}">
                <img src="{job.companyLogoUrl}" alt="{job.company}" title="{job.company}">
            </f:if>
        </div>
        <div class="red-preheader">
            <h2 class="page-header__categories">
                <span>{job.company}</span>
                <span>{job.municipality}</span>
            </h2>
        </div>
        <h1>{job.title}</h1>
        <f:comment>
            <f:if condition="{job.pubDateTo}">
                <p><f:translate key="fe.apply_before" /> <f:format.date date="{job.pubDateTo}" format="{settings.dateFormatHeader}"/></p>
            </f:if>
            <div class="text-center text-uppercase">
                <a href="javascript:{}" data-job-scroll="1" data-scroll-fix="-40|-180" data-scroll-to="#pxa-apply-job" class="btn btn-default"><f:translate key="fe.sumit_2" /></a>
            </div>
        </f:comment>
    </div>

    <div class="light-gray-background">
        <div class="sceen-wrp">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <f:if condition="{job.topImages}">
                            <f:render section="additonalImages" arguments="{job: job, images: job.topImages}" />
                        </f:if>
                        <f:format.html>{job.description}</f:format.html>
                        <f:if condition="{job.bottomImages}">
                            <f:render section="additonalImages" arguments="{job: job, images: job.bottomImages}" />
                        </f:if>
                    </div>
                    <div class="col-md-3">
                        <div class="light-gray-background">
                            <div class="side-content">
                                <h3><f:translate key="fe.quick_facts" /></h3>
                                <p><strong><f:translate key="fe.job" /></strong> <br>{job.service}</p>
                                <f:if condition="{job.municipality}">
                                    <p><strong><f:translate key="fe.city" /></strong> <br>{job.municipality}</p>
                                </f:if>
                                <f:if condition="{job.employmentExtent}">
                                    <p><strong><f:translate key="fe.extent" /></strong> <br>{job.employmentExtent}</p>
                                </f:if>
                                <f:if condition="{job.type}">
                                    <p>
                                        <strong><f:translate key="fe.type" /></strong>
                                        <br>
                                        <pxa:replaceString value="{job.type}"
                                                        needle="{settings.jobTypes.replaceValues.needle}"
                                                        replacement="{settings.jobTypes.replaceValues.replacement}" />
                                    </p>
                                </f:if>
                                <f:if condition="{job.employmentType}">
                                    <p><strong><f:translate key="fe.duration" /></strong> <br>{job.employmentType}</p>
                                </f:if>
                                <f:if condition="{job.start}">
                                    <p><strong><f:translate key="fe.start" /></strong> <br>{job.start}</p>
                                </f:if>
                                <f:if condition="{job.pubDateTo}">
                                    <p><strong><f:translate key="fe.apply_before" /></strong> <br><f:format.date date="{job.pubDateTo}" format="{settings.dateFormat}"/></p>
                                </f:if>
                            </div>
                        </div>

                        <f:if condition="{job.contentElementsUids}">
                            <f:cObject typoscriptObjectPath="lib.pxaIntelliplanJobsContentElementsRenderer" data="{uids: job.contentElementsUids}" />
                        </f:if>

                        <f:if condition="{settings.showShareForm}">
                            <div class="light-gray-background">
                                <div class="side-form">
                                    <h3><f:translate key="fe.tell_friend" /></h3>

                                    <f:form controller="JobAjax" action="share" pluginName="Pi2" pageType="{settings.sharePageType}" objectName="shareJob" class="pxa-tell-friend">
                                        <div class="form-group" data-field="receiverName">
                                            <f:form.textfield class="form-control" placeholder="{f:translate(key: 'fe.friend_name')}" property="receiverName"/>
                                        </div>
                                        <div class="form-group" data-field="receiverEmail">
                                            <f:form.textfield class="form-control" placeholder="{f:translate(key: 'fe.friend_email')}" property="receiverEmail"/>
                                        </div>
                                        <div class="form-group" data-field="senderName">
                                            <f:form.textfield class="form-control" placeholder="{f:translate(key: 'fe.your_name')}" property="senderName"/>
                                        </div>

                                        <button type="submit" class="btn btn-default text-uppercase"><f:translate key="fe.submit" /></button>

                                        <f:form.hidden property="shareUrl" value="{shareUrl}" />
                                        <f:form.hidden name="job" value="{job}" />
                                    </f:form>
                                    <!-- '_ready' -->
                                    <div class="ajax-loader _ready">
                                        <f:render partial="AjaxLoader" />
                                    </div>
                                </div>
                            </div>
                        </f:if>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page-navigation visible-md visible-lg">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.pxaIntelliplanJobsBreadCrumbs" data="{categoryTitle: job.categoryTypo3.title, categoryUid: 'cat{job.categoryTypo3.uid}'}"/>
        </div>
    </div>

    <div id="pxa-apply-job">
        <div class="panel-box__bg-wrp">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 center-block">
                        <div class="panel-box">
                        <div class="form-header text-center">
                            <h2><f:translate key="fe.application" /></h2>
                        </div>

                        <f:form enctype="multipart/form-data" name="apply-job" action="applyJob" controller="JobAjax" pluginName="Pi2" pageType="{settings.sharePageType}">
                            <f:form.hidden name="job" value="{job}" />
                            <f:form.hidden name="requireCV" value="1" />

                            <div class="panel-box__body">
                                <f:render section="applyJobFields" />

                                <div class="form-additions">
                                    <div class="row">
                                        <f:render section="uploadFile" arguments="{label: 'add_cv', name: 'cv'}"/>
                                        <f:render section="uploadFile" arguments="{label: 'add_letter', name: 'letter'}"/>
                                    </div>
                                </div>

                                <div id="pxa-additional-file-template" class="hidden" data-label="{f:translate(key:'fe.additional_file')} ###COUNTER###" data-name="file_###COUNTER###">
                                    <f:render section="additionalFileUploadFileTemplate" arguments="{label: 'additional_file', name: 'file_0'}"/>
                                </div>

                                <f:render section="addAdditionalFile" />

                                <div class="form-additions">
                                    <f:render section="agreeOnTerms" />
                                </div>
                            </div>

                            <f:render section="submitButton" />
                        </f:form>
                        <div class="ajax-loader _ready">
                            <f:render partial="AjaxLoader" />
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="light-gray-background">
            <f:if condition="{job.jobCategoryId} == {settings.jobTypes.cvOptionalCategoryId}">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 center-block">
                            <div class="panel-box">
                                <div class="panel-header">
                                    <h2><f:translate key="fe.no_cv" /></h2>
                                </div>
                                <f:form enctype="multipart/form-data" class="js__panel-collapsible" name="apply-job" action="applyJob" controller="JobAjax" pluginName="Pi2" pageType="{settings.sharePageType}">
                                    <f:form.hidden name="job" value="{job}" />
                                    <div class="panel-box__body">
                                        <f:render section="applyJobFields" />
                                        <f:if condition="{noCvQuestionsPreset}">
                                            <f:render section="noCvQuestionsPreset" arguments="{noCvQuestionsPreset: noCvQuestionsPreset, additionalQuestionsPrefix: additionalQuestionsPrefix, job: job}" />
                                        </f:if>
                                        <div class="form-additions">
                                            <f:render section="agreeOnTerms" />
                                        </div>
                                    </div>
                                    <f:render section="submitButton" />
                                </f:form>
                                <div class="ajax-loader _ready">
                                    <f:render partial="AjaxLoader" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:if>
        </div>
    </div>

    <div class="page-navigation visible-md visible-lg">
        <div class="container">
            <f:cObject typoscriptObjectPath="lib.pxaIntelliplanJobsBreadCrumbs" data="{categoryTitle: job.categoryTypo3.title, categoryUid: 'cat{job.categoryTypo3.uid}'}" />
        </div>
    </div>
</f:section>

<f:section name="additonalImages">
    <f:for each="{images}" as="image">
        <f:if condition="{image.originalResource.properties.link}">
            <f:then>
                <f:link.typolink parameter="{image.originalResource.properties.link}">
                    <f:image image="{image}"
                             width="{settings.singleView.image.width}"
                             height="{settings.singleView.image.height}"
                             title="{f:if(condition: image.originalResource.properties.title, then: image.originalResource.properties.title, else: job.title)}"
                             alt="{f:if(condition: image.originalResource.properties.title, then: image.originalResource.properties.title, else: job.title)}"
                    />
                </f:link.typolink>
            </f:then>
            <f:else>
                <f:image image="{image}"
                         width="{settings.singleView.image.width}"
                         height="{settings.singleView.image.height}"
                         title="{f:if(condition: image.originalResource.properties.title, then: image.originalResource.properties.title, else: job.title)}"
                         alt="{f:if(condition: image.originalResource.properties.title, then: image.originalResource.properties.title, else: job.title)}"
                />
            </f:else>
        </f:if>
    </f:for>
</f:section>

<f:section name="uploadFile">
    <div class="col-sm-6 _actions">
        <div class="file-uploader">
            <span data-field="{name}"></span>
            <label class="btn btn-upload">
                <f:form.upload class="js__file-upload" name="applyJobFiles[{name}]"/>
                <span>
                    <span class="action-name">
                        <?xml version="1.0" encoding="utf-8"?>
                        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                            <path fill="#e42518" d="M16.006 16h-2.506c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h2.506c1.651 0 2.994-1.343 2.994-2.994s-1.343-2.994-2.994-2.994c-0.352 0-0.696 0.060-1.023 0.179-0.218 0.079-0.462-0.002-0.589-0.196s-0.104-0.45 0.056-0.618c0.355-0.373 0.55-0.862 0.55-1.377 0-1.103-0.897-2-2-2-0.642 0-1.229 0.297-1.61 0.814-0.229 0.31-0.362 0.677-0.386 1.061-0.013 0.212-0.159 0.393-0.364 0.451s-0.423-0.021-0.545-0.195l-0.005-0.007c-0.107-0.152-0.226-0.302-0.351-0.442-0.949-1.068-2.312-1.681-3.74-1.681-2.757 0-5 2.243-5 5s2.243 5 5 5h1.5c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-1.5c-3.308 0-6-2.692-6-6s2.692-6 6-6c1.603 0 3.137 0.643 4.261 1.775 0.087-0.195 0.196-0.381 0.324-0.555 0.564-0.764 1.467-1.22 2.415-1.22 1.654 0 3 1.346 3 3 0 0.351-0.061 0.694-0.176 1.017 0.061-0.003 0.122-0.004 0.183-0.004 2.202 0 3.994 1.792 3.994 3.994s-1.792 3.994-3.994 3.994z"></path>
                            <path fill="#e42518" d="M12.854 13.146c-0.195-0.195-0.512-0.195-0.707 0l-1.146 1.146v-3.793c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v3.793l-1.146-1.146c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l2 2c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l2-2c0.195-0.195 0.195-0.512 0-0.707z"></path>
                        </svg>
                        <f:translate key="fe.{label}" />
                    </span>
                    <span class="file-uploader__name"></span>
                </span>
            </label>
            <i class="icons icon-clear file-uploader__clear js__file-upload__clear"></i>
        </div>
    </div>
</f:section>

<f:section name="additionalFileUploadFileTemplate">
    <div class="form-additions">
        <div class="row">
            <div class="col-sm-6">
                <p class="additions-label">
                    <strong data-file-label="1"><f:translate key="fe.{label}"/> 1</strong>
                </p>
                <span data-field="{name}"></span>
            </div>
            <div class="col-sm-6 _actions">
                <div class="file-uploader">
                    <label class="btn btn-upload">
                        <f:form.upload class="js__file-upload" name="applyJobFiles[{name}]"/>
                        <span>
                            <span class="action-name">
                                <?xml version="1.0" encoding="utf-8"?>
                                <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 20 20">
                                    <path fill="#e42518" d="M16.006 16h-2.506c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h2.506c1.651 0 2.994-1.343 2.994-2.994s-1.343-2.994-2.994-2.994c-0.352 0-0.696 0.060-1.023 0.179-0.218 0.079-0.462-0.002-0.589-0.196s-0.104-0.45 0.056-0.618c0.355-0.373 0.55-0.862 0.55-1.377 0-1.103-0.897-2-2-2-0.642 0-1.229 0.297-1.61 0.814-0.229 0.31-0.362 0.677-0.386 1.061-0.013 0.212-0.159 0.393-0.364 0.451s-0.423-0.021-0.545-0.195l-0.005-0.007c-0.107-0.152-0.226-0.302-0.351-0.442-0.949-1.068-2.312-1.681-3.74-1.681-2.757 0-5 2.243-5 5s2.243 5 5 5h1.5c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-1.5c-3.308 0-6-2.692-6-6s2.692-6 6-6c1.603 0 3.137 0.643 4.261 1.775 0.087-0.195 0.196-0.381 0.324-0.555 0.564-0.764 1.467-1.22 2.415-1.22 1.654 0 3 1.346 3 3 0 0.351-0.061 0.694-0.176 1.017 0.061-0.003 0.122-0.004 0.183-0.004 2.202 0 3.994 1.792 3.994 3.994s-1.792 3.994-3.994 3.994z"></path>
                                    <path fill="#e42518" d="M12.854 13.146c-0.195-0.195-0.512-0.195-0.707 0l-1.146 1.146v-3.793c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v3.793l-1.146-1.146c-0.195-0.195-0.512-0.195-0.707 0s-0.195 0.512 0 0.707l2 2c0.098 0.098 0.226 0.146 0.354 0.146s0.256-0.049 0.354-0.146l2-2c0.195-0.195 0.195-0.512 0-0.707z"></path>
                                </svg>
                                <f:translate key="fe.attach_document" />
                            </span>
                            <span class="file-uploader__name"></span>
                        </span>
                    </label>
                    <i class="icons icon-clear file-uploader__clear js__file-upload__clear"></i>
                </div>
            </div>
        </div>
    </div>
</f:section>

<f:section name="addAdditionalFile">
    <div class="form-additions">
        <div class="row">
            <div class="col-sm-12">
                <p class="text-center">
                    <a href="javascript: {}" data-add-document="1">
                        <i class="icons icon-arrow-right5"></i>
                        <span><f:translate key="fe.add_documents" /></span>
                    </a>
                </p>
                <p class="text-center"><f:translate key="fe.add_documents_tip" /></p>
            </div>
        </div>
    </div>
</f:section>

<f:section name="agreeOnTerms">
    <div class="form-additions__agreement" data-field="agreement_type">
        <f:form.checkbox value="1" name="applyJob[agreement_type]" class="acceptTerms"/>
        <p>
            <f:translate key="fe.accept_terms_text" arguments="{0: '{f:render(section: \'agreeOnTermsLink\')}'}"/>
        </p>
    </div>
</f:section>

<f:section name="agreeOnTermsLink"><f:spaceless>
    <f:link.typolink parameter="{settings.applyJob.termsLink}" target="_blank">
        <span><f:translate key="fe.accept_term_link" /></span>
    </f:link.typolink>
</f:spaceless></f:section>


<f:section name="applyJobFields">
    <div class="row">
        <f:for each="{settings.applyJob.fields.formFields -> pxa:explode()}" as="field" iteration="i">
            <f:cycle values="{0: '0', 1: '1'}" as="cycle">
                <div class="col-sm-6">
                    <div class="form-item" data-field="{field}">
                        <label>
                            <f:translate key="placeholder.{field}" />
                        </label>
                        <f:form.textfield
                                class="form-control"
                                name="applyJob[{field}]" />
                    </div>
                </div>
                <f:if condition="{cycle}">
                    <f:if condition="{i.isLast}">
                        <f:else><f:render section="closeOpenRow" /></f:else>
                    </f:if>
                </f:if>
            </f:cycle>
        </f:for>
    </div>
</f:section>

<f:section name="noCvQuestionsPreset">
    <f:for each="{noCvQuestionsPreset}" key="key" as="question">
        <f:if condition="{question.type} == 'radio'">
            <f:then>
                <f:render
                        section="noCvRadioField"
                        arguments="{question: question, prefix: additionalQuestionsPrefix, key: key}"/>
            </f:then>
            <f:else>
                <f:render
                        section="noCvInputField"
                        arguments="{question: question.question, tip: question.tip, prefix: additionalQuestionsPrefix, key: key}"/>
            </f:else>
        </f:if>
    </f:for>
</f:section>

<f:section name="noCvRadioField">
    <div class="form-additions" data-field="{prefix}{key}" data-sub-question-name="{f:if(condition: question.additional, then: '{prefix}sub_question_{key}', else: '0')}">
        <p><strong>{question.question}</strong></p>
        <f:if condition="{question.tip}">
            <p><em>{question.tip}</em></p>
        </f:if>
        <div class="radio-item">
            <label>
                <f:form.radio name="applyJob[{prefix}{key}]" value="1" />
                <span><f:translate key="fe.yes" /></span>
            </label>
        </div>
        <div class="radio-item">
            <label>
                <f:form.radio name="applyJob[{prefix}{key}]" value="0" />
                <span><f:translate key="fe.no" /></span>
            </label>
        </div>
    </div>
    <f:if condition="{question.additional}">
        <f:render
                section="noCvInputField"
                arguments="{additional: '1', question: question.additional, prefix: prefix, key: 'sub_question_{key}'}"/>
    </f:if>
</f:section>

<f:section name="noCvInputField">
    <div class="form-additions{f:if(condition: additional, then: ' hidden')}" data-field="{prefix}{key}">
        <p><strong>{question}</strong></p>
        <f:if condition="{tip}">
            <p><em>{tip}</em></p>
        </f:if>
        <f:form.textfield class="form-control" name="applyJob[{prefix}{key}]" />
    </div>
</f:section>

<f:section name="submitButton">
    <div class="panel-box__footer" data-field="submit">
        <div class="form-actions text-center">
            <button type="submit" class="btn btn-default text-uppercase" disabled><f:translate key="fe.sumit_2" /></button>
        </div>
    </div>
</f:section>

<f:section name="closeOpenRow"></div><div class="row"></f:section>
</html>